[Unit]
Description=Vhostuser Interface vfio-pci Bind
Wants=network-online.target
After=network-online.target ignition-firstboot-complete.service

[Service]
Type=oneshot
EnvironmentFile=/etc/vhostuser-bind.conf
ExecStart=/usr/local/bin/vhostuser $ARG

[Install]
WantedBy=multi-user.target
